'atom-text-editor':
  'ctrl-d': 'editor:delete-line'
  'ctrl-e': 'find-and-replace:select-next'
  'ctrl-q': 'editor:toggle-line-comments'
  'ctrl-shift-Q': 'sublime-block-comment:toggle'
  'f5': 'goto-definition:go'
  'ctrl-shift-w': 'pane:close-other-items'
  'ctrl-alt-c': 'color-picker:open'
  'ctrl-alt-v': 'clipboard-plus:toggle'
  'ctrl-alt-b': 'atom-beautify:beautify-editor'
  'ctrl-alt-d': 'git-diff:toggle-diff-list'
  'ctrl-alt-m': 'merge-conflicts:detect'
  'ctrl-alt-enter': 'emmet:interactive-expand-abbreviation'
  'ctrl-alt-w': 'emmet:wrap-with-abbreviation'
  'alt-t': 'git-time-machine:toggle'
  'alt-.': 'bracket-matcher:close-tag'
  'alt-shift-T': 'todo-show:find-in-workspace'
  'ctrl-shift-o': 'pane:split-down-and-copy-active-item'
  'ctrl-shift-e': 'pane:split-right-and-copy-active-item'
  'shift-ctrl-i': 'window:toggle-invisibles'
  'ctrl-shift-down': 'editor:move-line-down'
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-backspace': 'editor:delete-to-previous-word-boundary'
  'ctrl-delete': 'editor:delete-to-next-word-boundary'
